
<table class="table_base">
  <th />
  <% @configuration_names.each do |name| -%>
    <th><%= name %></td>
  <% end -%>

  <% @configurations.each do |configuration| -%>
    <tr>
      <td><%= link_to configuration.user.name,
                      new_user_configuration_path(:user_id => configuration.user_id) %></td>
      <% @configuration_names.each do |name| -%>
        <td><%= configuration.send(:"#{name}") %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

